*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}
.h3{
    color: red;
}
p{
    color: red;
    align-items: center;
}
.heading{
  padding-top:5rem;
  font-weight: 900;
}
/*#brochure{
    align-content: center;
    margin-top: 10rem;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    width: fit-content;
    transform:translate(40%,-40%);
    top:50%;
    left:50%;
    text-align:center;
  }*/
  section{
    padding-top: 4vh;
    height: 100%;
    box-sizing: border-box;
    min-height: fit-content;
  }
  
  #brochure{
    padding-top: 2vh;
    height: 45vh;
    width: 90%;
    min-height: fit-content;
    margin: 0 2.0rem;
    align-self: center;
    text-align: justify;
  }
  
  .section-container{
    display: flex;
  }


  /* BUTTONS */

  .btn{
    font-family: 'Montserrat';
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 9rem;
    border-radius: 2rem;
  }

  /* FILES */
.DocumentsDown{
  /*justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin: auto;
  display: flex;*/
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
#brochure .col{
  flex-basis: 50%;
  padding: 10px;
}
.doc1{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.doc1:hover{
  text-decoration-color: red;
}
.doc1 .fa-download:hover{
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: red;
}
.doc2{
  margin-bottom: 1rem;
}
.doc2:hover{
  text-decoration-color: red;
}
.doc2 .fa-download:hover{
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: red;
}
.doc3{
  margin-bottom: 1rem;
}
.doc3:hover{
  text-decoration-color: red;
}
.doc3 .fa-download:hover{
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: red;
}
.doc4{
  margin-bottom: 1rem;
}
.doc4:hover{
  text-decoration-color: red;
}
.doc4 .fa-download:hover{
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: red;
}

::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar-thumb{
  background-color: red;
}
::-webkit-scrollbar-track{
  background: white;
}

/* Footer */
footer{
  width: 99.99%;
  position: absolute;
  background: #000;
  color: #fff;
  padding: 50px 0 30px;
  border-top-left-radius: 125px;
  border-top-right-radius: 30px;
  font-size: 13px;
  line-height: 20px;
  margin-top: 7rem;
}
.col-text-footer{
  color: white;
}
.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col{
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2),.col:nth-child(3){
  flex-basis: 15%;
}
.trusted-logo{
  margin-bottom: 5px;
}
.col h3{
  width: fit-content;
  margin-bottom: 25px;
  position: relative;
}
.email-id{
  width: fit-content;
  border-bottom: 1px solid white;
  margin: 7px 0;
  cursor: pointer;
  margin-bottom: 10px;
  color: white;
}
.email-id:hover {
  color: red;
  border-bottom: 1px solid red;
}
.col h4:hover{
  color: red;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  cursor: pointer;
}

footer ul li{
  list-style: none;
  margin-bottom: 13px;
}
footer ul li a{
  text-decoration: none;
  color: white;
}

form{
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
form .far{
  font-size: 18px;
  margin-right: 12px;
}
form input{
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button{
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form button .fas{
  font-size: 16px;
  color: #ccc;
}
.social-icons-ftr .fab{
  padding-top: 5px;
  width: 30px;
  height: 30px;
  /*border-radius: 50%;*/
  text-align: center;
  line-height: 30px;
  font-size: 25px;
  color: white;
  /*background:white;*/
  margin-right: 3px;
  cursor: pointer;
}
.underline{
  width: 100%;
  height: 3px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}
.underline span{
  width: 15px;
  height: 100%;
  background: red;
  border-radius: 3px;
  position: absolute;
  top:0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}
hr{
  width: 85%;
  border: 0;
  border-bottom: 1px solid #8b1a1a;
  margin: 10px auto;
}
.copyright{
  text-align: center;
  color: white
}

/* Transitions */

a, btn{
  transition: all 300ms ease
}

/* Desktop Nav */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position:relative;
  display: inline-block;
}

nav, .nav-links{
  display: flex;
}
nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}
.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.2rem;
}
a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}
a:hover {
  color: red;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  font-weight: 700;
}
.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: red;
  list-style: none;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 80px;
}
.logo:hover {
  cursor: pointer;
}
.scholar-btn {
  cursor: pointer;
  border: none;
  color: red;
  font-weight: 600;
}
.scholar-btn:hover {
  color: white;
  background-color: red;
  border-color: red;
  font-weight: 800;
}

/* DEVELOPMENT SECTION */
#underdev {
  display: flex;
  justify-content: center;
  height: 5rem;
  background-color: red;
}
.under-dev{
  color: white;
}