@media screen and (max-width:1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    *{
        font-family: 'montserrat';
    }
    .section__text{
        width:fit-content;
        justify-items: center;
        text-align: center;
        margin-left: 0rem;
    }
    
    .googlebiz iframe{
        width: auto;
        height: 200px;
      }

}

@media screen and (max-width:600px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    *{
        font-family: 'montserrat';
    }
    .section__text{
        width:fit-content;
        justify-items: center;
        text-align: center;
        margin-left: 0rem;
    }
    
    .googlebiz iframe{
        width: auto;
        height: 200px;
      }
}


